body{
    
}
.maindiv {
    outline-color: black;
    outline: dashed;
    display: flex;
    flex-direction:column;
    margin-top: 200px;
    padding: 20px;
}
.topdiv {
    outline: dashed;
    outline-color: green;
    padding: 20px;
}
.bottomdiv {
    outline: dashed;
    outline-color: blue;
    padding: 20px;
    display: flex;
    flexbox: flex-end;
}
.inst1 {
    outline: dashed;
    outline-color: red;
    padding: 5px;
    width: 150px;
    margin: 5px;
}
.div {
    outline: dashed;
    outline-color: brown;
    display: flex;
    justify-content: space-between;
}
.discription {
    outline: dashed;
    outline-color: black;
    padding: 5px;
    width: 150px;
    margin: 5px;
}
.textbox {
    outline-color: black;
    outline: dashed;
    width: 150px;
    padding: 5px;
    margin: 5px;
}
.example {
    outline-color: black;
    outline: dashed;
    width: 150px;
    padding: 5px;
    margin: 5px;
}