body
{
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.advanced_search {
    padding-right: 10px;
    padding-top: 10px;
}
.image_search{
    padding-top: 10px;
    padding-right: 10px;
}
.main_content {
    padding: 40px;
    margin: 0px auto;
    margin-top: 200px;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.google_image{
}
.search_bar {
    /* width: 300px; */
    padding: 10px;
}
.bottom_buttons{
    flex-direction: row;
    justify-content: center;
    display: flex;
}
.search_button {
    width: 150px;
}
.luckybutton{
    width: 150px;
}
input[type="text"]{
    width: 600px;
    height: 30px;
    border-radius: 25px;
}
.home{
    padding-top: 10px;
    padding-right: 10px;
}